<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,5}}</string>
                <key>sourceSize</key>
                <string>{14,5}</string>
            </dict>
            <key>cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{300,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>enemy_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{30,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,12}}</string>
                <key>sourceSize</key>
                <string>{30,12}</string>
            </dict>
            <key>hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{152,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,133}}</string>
                <key>sourceSize</key>
                <string>{152,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameTexture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adc32ecf886e2b0b244cd8197e984f69:5fadc0cf7dadd7989d8f8c38454df53c:e0ed4805693d6cb52900fccf290025ba$</string>
            <key>textureFileName</key>
            <string>gameTexture.png</string>
        </dict>
    </dict>
</plist>
